.card{
      width: 300px;
      height: 300px;
      cursor: pointer;
      margin: 1rem auto;
      perspective: 1000px;
    }
    .cardInner{
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
    .card:hover .cardInner{
      transform: rotateY(180deg);
    }
    .cardFront, .cardBack{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      
      align-items: center;
      border-radius: 10px;
    }
    .cardFront {
      background: rgba(255, 255, 255, 0.12);
      border:none;
      color: white;
    }
    .cardBack{
      background: rgba(56, 55, 55, 0.622);
      color: white;
      transform: rotateY(180deg);
      text-align: center;
      line-height: 25px;
      justify-content: center;
    }
    .title{
      color: #f6d581;
      margin-top: 15px;
      font-size: 22px;
      text-shadow: 2px 2px 10px ;
    }
    .card_image{
      margin:30px 0;
      width: 60px;
    }