.contact-section {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  padding: 80px;
  gap: 40px;
}

.left {
  flex: 1;
  margin-top: 80px;
  font-family: Lato, sans-serif;
}

.left h1 {
  font-size: 79px;
  font-weight: 800;
}

.left h1 span {
  color: #f6d581;
}

.left p {
  margin-top: 55px;
  font-size: 18px;
}

.left a {
  color: orange;
  text-decoration: none;
}

.form {
  flex: 1;
  margin-top: 80px;
}

.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
  margin-bottom: 30px;
  padding: 8px 0;
  font-size: 12px;
}

.input-group svg {
  margin-right: 10px;
  color: rgb(255, 0, 0);
}

.input-group input,
.input-group textarea {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 20px;
}

textarea {
  resize: none;
  height: 80px;
}

.row {
  display: flex;
  gap: 30px;
}

button {
  margin-top: 30px;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background-color:  #f6d581;
  font-size: 14px;
  font-family: Lato, sans-serif;
}
.typewriter_heading{
  font-size: 10vmin;
  color: #f6d581;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 900;
  margin: 1rem 0 1rem 2rem;
  letter-spacing: 5px;
}
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "S"; }
  2.2791%, 25.0698% { content: "St"; }
  3.4186%, 23.9302% { content: "Str"; }
  4.5581%, 22.7907% { content: "Stre"; }
  5.6977%, 21.6512% { content: "Strea"; }
  6.8372%, 20.5116% { content: "Streat"; }
  7.9767%, 19.3721% { content: "Streate"; }
  9.1163%, 18.2326% { content: "Streateg"; }
  10.2558%, 17.0930% { content: "Streategy"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "D"; }
  33.0465%, 49.0000% { content: "Di"; }
  34.1860%, 47.8605% { content: "Dig"; }
  35.3256%, 46.7209% { content: "Digi"; }
  36.4651%, 45.5814% { content: "Digit"; }
  37.6047%, 44.4419% { content: "Digital"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "I"; }
  56.9767%, 72.9302% { content: "Id"; }
  58.1163%, 71.7907% { content: "Ide"; }
  59.2558%, 70.6512% { content: "Idea"; }
  60.3953%, 69.5116% { content: "Ideas"; }
  61.5349%, 68.3721% { content: "Ideas"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "C"; }
  80.9070%, 94.5814% { content: "Cre"; }
  82.0465%, 93.4419% { content: "Crea"; }
  83.1860%, 92.3023% { content: "Creat"; }
  84.3256%, 91.1628% { content: "Creati"; }
  85.4651%, 90.0233% { content: "Creative"}

  98.0000%, 116.0000% { content: ""; }
  99.1395%, 114.8605% { content: "B"; }
  100.2791%, 113.7209% { content: "Bu"; }
  101.4186%, 112.5814% { content: "Bus"; }
  102.5581%, 111.4419% { content: "Busi"; }
  103.6977%, 110.3023% { content: "Busine"; }
  104.8372%, 109.1628% { content: "Business"; }
  }

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}
@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0% { content: "Streategy"; }
    25% { content: "Digital"; }
    50% { content: "Ideas"; }
    75% { content: "Creative"; }
    100% { content: "Business";}
  }

  .typewriter::before {
    content: "Streategy";
    animation: sequencePopup 12s linear infinite;
  }
}
.icon{
  margin-top: -55px;
}