.footer {
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
color: #ccc;
padding: 70px 80px 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  margin-left: 88px;
}

.footer-col p {
  font-size: 16px;
  line-height: 1.6;
}

.footer-email {
  color: orange;
  margin-top: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;

}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: orange;
}

.footer-social {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.footer-social a {
  width: 46px;
  height: 46px;
  border: 2px solid #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  background: orange;
  color: #000;
  transform: translateY(-4px);
}

.footer-form {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.footer-form input {
  flex: 1;
  padding: 12px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  outline: none;
  border-radius: 10px;
}

.footer-form button {
    width: 85px;
    height: 35px;
  background: orange;
  border: none;
  padding: 0 18px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #777;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}