.Container{
  display: flex;
  align-items: center;
}
.Content{
  margin-left: 50px;
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.6;
  color: #331455;
  width: 40%;
}
.Content h1{
  font-size: 42px;
  margin-bottom: 25px;
}
.Content h3{
  font-size: 19px;
  margin-bottom: 20px;
}
/* From Uiverse.io by adeladel522 */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 18px 45px;
  border-radius: 20px 0 20px 0; 
  background-color: #fad975;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0E3A44;
  gap: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-right: 20px;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
.profile_div{
  margin-top: 50px;
}