.marqueewrapper {
  width: 100%;
  overflow: hidden;
  background:  #4a4a4a;
  padding: 15px 0;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.marquee span {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  color: #ddd0c8;
  margin-right: 50px;
  letter-spacing: 1px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueewrapper:hover .marquee {
  animation-play-state: paused;
}