.marqueewrapper {
  width: 100%;
  overflow: hidden;
 background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 12%, hsla(189, 83%, 82%, 1) 59%, hsla(176, 73%, 88%, 1) 100%);
  padding: 15px 0;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.marquee span {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  color: #2a2828;
  margin-right: 50px;
  letter-spacing: 1px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueewrapper:hover .marquee {
  animation-play-state: paused;
}