.section4Container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
.section4Heading{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card_container{
  width: 75%;
  display: flex;
  flex-direction: column;
}