.heading{
  text-align: center;
  font-size: 65px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-weight: 100;
  letter-spacing: 2px;

}
.our{
  letter-spacing: 2px;
  font-weight: 900;
  word-spacing: 10px;
}
.subheading{
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  word-spacing: 4px;
  margin-bottom: 70px;
}
.typewriter_heading{
  font-size: 10vmin;
  color: #f6d581;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 900;
  margin: 1rem 0 1rem 2rem;
  letter-spacing: 5px;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "D"; }
  2.2791%, 25.0698% { content: "DE"; }
  3.4186%, 23.9302% { content: "DEV"; }
  4.5581%, 22.7907% { content: "DEVE"; }
  5.6977%, 21.6512% { content: "DEVEL"; }
  6.8372%, 20.5116% { content: "DEVELO"; }
  7.9767%, 19.3721% { content: "DEVELOP"; }
  9.1163%, 18.2326% { content: "DEVELOPM"; }
  10.2558%, 17.0930% { content: "DEVELOPMENT"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "D"; }
  33.0465%, 49.0000% { content: "DI"; }
  34.1860%, 47.8605% { content: "DIG"; }
  35.3256%, 46.7209% { content: "DIGI"; }
  36.4651%, 45.5814% { content: "DIGIT"; }
  37.6047%, 44.4419% { content: "DIGITAL"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "D"; }
  56.9767%, 72.9302% { content: "DE"; }
  58.1163%, 71.7907% { content: "DES"; }
  59.2558%, 70.6512% { content: "DESI"; }
  60.3953%, 69.5116% { content: "DESIG"; }
  61.5349%, 68.3721% { content: "DESIGN"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "D"; }
  80.9070%, 94.5814% { content: "DI"; }
  82.0465%, 93.4419% { content: "DIG"; }
  83.1860%, 92.3023% { content: "DIGI"; }
  84.3256%, 91.1628% { content: "DIGITAL"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "development"; }
    25% { content: "digital"; }
    50% { content: "design"; }
    75% { content: "digital"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}
.card_container{
  margin-top: 30px;
  display: flex;
  align-items: center;
}
li{
  list-style: none;
  text-align: center;
  color: white;
  line-height: 27px;
}
li:hover{
  color: #f6d581;
}